@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,300,600);

html {
    font-family: Open Sans, Roboto, Open Sans, Helvetica Neue, Open Sans, Source Sans Pro, Montserrat, Varela Round;
    font-size: 2.5vh;
}

h1, h2 {
    font-family: Open Sans, Helvetica Neue, Open Sans, Source Sans Pro, Montserrat, Varela Round;
}

h1 {
    font-size: 4.07vh;
    font-weight: 300;
}

h2 {
    font-weight: normal;
    font-size: 3.3333vh;
    font-weight: 300;
}
