.wideSpotlightCard {
    width: 100%;
}
 
.topSpacerPortrait {
    height: 2vh;
}

.topSpacerBackdrop {
    height: 5vh;
}

.topSpacerSquare {
    height: 5vh;
}

.navContainerPortrait {
    height: 12vh;
 }
 
 .navContainerBackdrop {
    height: 25vh;
 }

 .navContainerSquare {
    height: 25vh;
 }
 
.subMenuButtonsContainer {
    color: #aaa;
    display: block;
    position: absolute;
    top: 50.5%;
    margin-left: 40%;
    margin-right: auto;
    height: 3vh;
    font-size: 85%;
    font-family: Roboto;
    font-weight: 900;   
    background-image: url(images/verticalmenu_overlay.png);
}

    .subMenuButtonsContainer .userDataIcons {
        display: inline-block;
        height: 3vh;
        margin-left: auto;
        margin-right: auto;
        background-image: url(images/verticalmenu_overlay.png);
        
    }