.wideSpotlightCard {
    width: 100%;
}
 
.topSpacerPortrait {
    height: 2vh;
}

.topSpacerBackdrop {
    height: 5vh;
}

.topSpacerSquare {
    height: 5vh;
}

.navContainerPortrait {
    height: 15vh;
 }
 
 .navContainerBackdrop {
    height: 25vh;
 }

 .navContainerSquare {
    height: 25vh;
 }
 
.subMenuButtonsContainer {
    color: #aaa;
    display: block;
    position: absolute;
    top: 51.75%;
    margin-left: auto;
    margin-right: auto;
    height: 2.5vh;
    width: 100%;
    font-size: 65%;
    font-family: Roboto;
    font-weight: 900;   
    background-image: url(../css/images/menu_trans.png);
}

.btnSub1 {
	margin-left: 35%;
	border-radius: 1px;
	vertical-align: middle;
	margin-top: 0;
	margin-bottom: 0;
	height: 2.5vh;
	width: 30%
	font-size: 65%;
    font-family: Roboto;
    font-weight: 900;   
    line-height: .5vh;
}

.btnSub2 {
	margin-left: 5%;
	margin-top: 0;
	margin-bottom: 0;
	height: 2.5vh;
	width: 30%
	font-size: 65%;
    font-family: Roboto;
    font-weight: 900;   
    line-height: .5vh;
}

.btnSub3{
	margin-left: 5%;
	margin-top: 0;
	margin-bottom: 0;
	height: 2.5vh;
	width: 30%
	font-size: 65%;
    font-family: Roboto;
    font-weight: 900;   
    line-height: .5vh;
}

.homePageContainer .userViewNames {
    /* Somehow this resolves the issue of the content getting distorted 
        https://github.com/MediaBrowser/Emby.Theater.Windows/issues/270
    */
    overflow: hidden;
    	position: absolute;
        top: 45%;
        background-image: url(../css/images/verticalmenu_overlay.png);
        background-position: 90%;
    width: 100%;
}

.homePageContainer .userViewNames .viewsScrollSlider {
    text-align: center;
}

.homePageContainer .userViewNames .scrollFrameX .scrollSlider {
    padding-left: 3.75%;
}

.homePageContainer .userViewNames h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.homePageContainer .userViewNames .btnUserViewHeader {
    min-width: initial;
    text-transform: none !important;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: .2em;
 
    font-size: 200%;

}

.homePageContainer .userViewButtonText {
    font-size: 110%;
    font-family: Roboto;
    font-weight: 900;   
}