.wideSpotlightCard {
    width: 100%;
}
 
.topSpacerPortrait {
    height: 2vh;
}

.topSpacerBackdrop {
    height: 5vh;
}

.topSpacerSquare {
    height: 5vh;
}

.navContainerPortrait {
    height: 15vh;
 }
 
 .navContainerBackdrop {
    height: 25vh;
 }

 .navContainerSquare {
    height: 25vh;
 }
 
.subMenuButtonsContainer {
    color: #aaa;
    display: block;
    position: absolute;
    top: 51.75%;
    margin-left: auto;
    margin-right: auto;
    height: 4vh;
    width: 100%;
    font-size: 65%;
    font-family: Roboto;
    font-weight: 900;   
    background-image: url(../css/images/menu_trans.png);
}

.btnFavorites {
	margin-left: 35%;
	margin-top: 0;
	width: 30%
	font-size: 65%;
    font-family: Roboto;
    font-weight: 900;   
}

.btnNextUp {
	margin-left: 5%;
	margin-top: 0;
	width: 30%
	font-size: 65%;
    font-family: Roboto;
    font-weight: 900;   
}

.btnLatest{
	margin-left: 5%;
	margin-top: 0;
	width: 30%
	font-size: 65%;
    font-family: Roboto;
    font-weight: 900;   
}