a {
    text-decoration: none;
}
.userViewNames {
    /* Somehow this resolves the issue of the content getting distorted 
        https://github.com/MediaBrowser/Emby.Theater.Windows/issues/270
    */
    overflow: hidden;
    	position: absolute;
        top: 0%;
        background-position: 90%;
        background-image: none;
        width: 80%;
}

.userViewNames .viewsScrollSlider {
    text-align: center;
}

.userViewNames .scrollFrameX .scrollSlider {
    padding-left: 0%;
}

.userViewNames h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.userViewNames .btnUserViewHeader {
    min-width: initial;
    text-transform: none !important;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: .2em;
 
    font-size: 80%;

}

.userViewButtonText {
    font-size: 80%;
    font-family: Roboto;
    font-weight: 900;   
}